.contact-container {
    background-image: url('../../public/assets/images/BG2.png');
    background-size: cover;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 150px 0;
}

.contact-title {
    font-size: 250%;
}

.contact-info {
    margin: 1%;
    font-size: 100%;
}