.film-detail-container {
    background-image: url('../../public/assets/images/BG.png');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 150px 0;
}

.img-detail {
    width: 400px;
    height: auto;    
    box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.detail-info {
    padding: 10px 30px;
    box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.product-price {
    font-size: x-large;
    padding: 10px 0;
    font-weight: 700;
    color: rgb(89, 180, 116)
}

.film-detail-info {
    text-align: justify;
    font-size: larger;
}