ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #c2b506;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.column {
  background-color: #e4e4e4;
  margin: 20px 0;
  box-shadow: 5px 10px 8px #000000bf;
}

h3, .title, .detail, button {
  text-align: center;
}

.detail {
  background-color: black;
}

button {
  background-color: black;
  color: white;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #c2b506;
  padding: 5px 0;
  color: white;
  text-align: center;
}