.navbar {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

#mobile-nav-dark {
  background-color: #212529;
}

#mobile-nav-light {
  background-color: white;
}

.film-container {
  text-align: center;
  margin-bottom: 31px;
  padding-top: 70px;
}

h4, h3 {
  text-align: center;
  font-size: small;
}

h4 {
  padding-bottom: 10px;
}

.home-img {
  width: 500px;
  height: 700px;
}

@media only screen and (max-width: 1650px) {
  .home-img {
    width: 350px;
    height: 500px;
  }
}

button {
  cursor: pointer;
}

button.film-column {
  box-shadow: 5px 10px 8px #000000bf;
  margin-bottom: 20px;
  padding: 1% 2%;
  border: none;
  transition: all 0.5s ease-in-out;
}

button.film-column:hover {
  transform: scale(1.1, 1.1);
}

button.close {
  background-color: #8fc866;
  border-radius: 10px;
  width: 100%;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.contact-title {
  margin: 0;
  padding-top: 1%;
}

.modal-show {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #00000086;
  z-index: 99;
}

.modal .modal-content {
  overflow: visible;
}

.modal-close {
  color: black;
  background-color: #8fc866;
}

.modal-close:hover {
  color: black;
  background-color: #8fc866be;
}

/* .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}

.hide {
  display: none;
}

.popup {
  margin: 80px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 800px;
  height: 610px;
  position: relative;
  text-align: center;
  transition: all 1s ease-out;
}

.popup .title {
  font-size: large;
}

.popup img {
  display: block;
  float: left;
  width: 400px;
  height: auto;
  transition: all 1s ease-out;
}

.popup .content {
  padding: 0 30px;
  padding-top: 20px;
  overflow: auto;
  font-size: medium;
}

.popup .content .info {
  text-align: justify;
} */

@media only screen and (max-width: 992px) {
  i.left {
    margin-top: 12px;
  }
}

/* @media only screen and (max-width: 1500px) {
  .popup {
    margin-top: 70px;
    padding: 0;
    width: 400px;
    height: 820px;
  }

  .popup .content {
    font-size: small;
    padding: 0 10px;
  }

  button.close {
    border: none;
    text-align: center;
    font-size: small;
    margin: 2px;
    padding: 10px 0px;
  }
} */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #b8ff86;
  padding: 5px 0;
  color: black;
  text-align: center;
}

#dark {
  color: white;
  background-color: #181818;
}

#dark .film-column {
  color: white;
  background-color: #2e2e2e;
}

#dark .collapsible-header {
  color: white;
  background-color: #181818;
}

#light .collapsible-header {
  color: black;
  background-color: #f9f9f9cc;
}

#light {
  color: black;
  background-color: #f9f9f9cc;
}

#light .film-column {
  color: black;
  background-color: #e2e2e2;
}